@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: Roboto, Helvetica, Arial, sans-serif!important; */
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.my-tooltip {
  flex: none!important;
  align-items: start!important;
  padding-left: 0!important;
  padding-right: 0!important;
}

.banner-wrapper {
  background-image: url('/home/banner/banner.png');
  background-size: cover;
  background-position: center;
}

.pricing__shape-item--1{
  content: "";
  height: 95%;
  border: 2px solid #D5E5F9;
  padding: 40px;
  border-radius: 100px 213px 100px 100px;
  opacity: 0.4;
  transform: rotate(25deg);
}

.pricing__shape-item--1 .pricing-bg {
  background: linear-gradient(4deg, #ffffff38 0%, #D5E5F9 100%);
  border-radius: 100px 213px 100px 100px;
  content: "";
}

.blog__shape-item--1 {
  content: "";
  border: 2px solid #B8CFEB;
  padding: 40px;
  border-radius: 100px 100px 229px 100px;
  transform: rotate(65deg);
  border-top: transparent;
}

.blog__shape-item--1 span {
  content: "";
  height: 94%;
  width: 980px;
  border-radius: 100px 100px 236px 100px;
  background: linear-gradient(180deg, #ffffff38 0%, #B8CFEB 100%);
  opacity: 0.6;
}

.alice-carousel__stage-item:hover .slide-bg-scale {
  transform: scale(1.2);
}

.faq__thumb--style1::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  backdrop-filter: blur(10px);
  filter: blur(100px);
  background-color: #16d466;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.footer-wrapper {
  background-color: #00150F;
}

.message-wrapper {
  height: calc(100vh - 95px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.auth-form-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.auth-form-container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.auth-form-container span{
    font-size: 12px;
}

.auth-form-container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.auth-form-container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.auth-form-container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.auth-form-container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.auth-form-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.auth-form-container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.auth-form-container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}


.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.auth-form-container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.auth-form-container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.auth-form-container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.auth-form-container.active .toggle-right{
    transform: translateX(200%);
}